# Directories
.idea/
.mypy_cache/
.venv/
,vs
.vscode
*__pycache__
output/
sim_input/
tile_cache/

# Files
*parsed_messages.txt
*raw_data.txt
*Postprocessing/export.csv
*config.ini
*external_flash.dat
*internal_flash.dat
logs/
